{% extends 'portfolio/layout.html' %}

{% block main %}
	<h1 class="titulo">Posts</h1>
	<a class="button-post" href="{% url 'portfolio:criar_post' %}">Criar Post</a>
	<div class="posts">
		{% for post in posts %}
		<div class="post">     
			<p class="tit-post">{{post.titulo}}</p>
			<br>
			<a class="link-pessoa" href="{{post.link}}" target="_blank">Link para o GitHub</a>
			<br>
			<br>
			{% if request.user.is_authenticated %}
                <a class="button-edita" href="{% url 'portfolio:editar_post' post.id %}">Editar</a>              
            {% endif %}
			<p>{{post.autor}} em {{post.data}}</p>
		</div>
		{% endfor %}
	</div>
	
{% endblock main %}