{% extends 'portfolio/layout.html' %}

{% block main %}
    <h1 class="titulo">Edita Post</h1>
    <form class="form-post2" action="{% url 'portfolio:editar_post' post_id %}" method="post">
        {% csrf_token %}
        
        {{form.as_p}}
        <input class="button-post" type="submit" value="Editar">
        <a class="button-post" href="{% url 'portfolio:blog' %}">Cancelar</a>
        <a class="button-post" href="{% url 'portfolio:apagar_post' post_id %}">Apagar</a>
    </form>
{% endblock main %}