{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="p1">
        {% load static %}
        <img src="{% static 'portfolio/images/p1.jpg' %}">
    </div>
    <div class="sobre-curso">
        <p>
            Bem-vindos ao meu Portfolio!
            <br>
            <br>
            Chamo-me Ruben Silva, tenho 21 anos e estou no 2 Ano da Licenciatura em Engenharia Informatica na Universidade Lusofona Humanidades e Tecnologias.
            <br>
            <br>
            Escolhi este curso porque sempre gostei de tecnologias e tive contacto com as mesmas muito cedo. Tive o meu primeiro computador com 6 anos e sempre gostei de ficar na internet mesmo quando nao sabia o que isso era. Ao falar de coisas mais atuais, comecei a programar em Python quando tinha mais ou menos 16/17 anos o que ajudou na escolha do curso.
            <br>
            <br>
            No que toca ao curso em si, tive cadeiras que gostei mais que outras, nomeadamente tudo o que tenha a ver com programacao, mas sei que as outras tambem foram importantes para o meu futuro.
            <br>
            <br>
            Quando acabar o curso espero ter capacidade para conseguir trabalho na area que me interessar no momento!
        </p>
    </div>
    <div class="p2">
        {% load static %}
        <img src="{% static 'portfolio/images/p2.jpg' %}">
    </div>
{% endblock main %}