{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="p1">
        {% load static %}
        <img src="{% static 'portfolio/images/p1.jpg' %}">
    </div>
    <div class="sobre-curso">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur natus nam aspernatur quam accusantium sequi sunt eos officia ad ipsum quo reprehenderit iste libero adipisci, id, provident consequatur ea. Soluta!
    </div>
    <div class="p2">
        {% load static %}
        <img src="{% static 'portfolio/images/p2.jpg' %}">
    </div>
{% endblock main %}