{% extends 'portfolio/layout.html' %}

{% block main %}
<h1 class="titulo">Projetos/TFC</h1>
<a class="button-projeto" href="{% url 'portfolio:criar_projeto' %}">Criar Projeto</a>
<div class="projetos">
    {% for projeto in projetos %}
    <div class="projeto">     
        <p class="tit-projeto">{{projeto.titulo}} / {{projeto.ano_realizacao}}</p>
        <br>
        <p>{{projeto.descricao}}</p>
        <br>
        <p>{{projeto.cadeira}}</p>
        <p>Participantes: {% for participante in projeto.participantes.all %} 
            <a class="link-pessoa" href="{{participante.link1}}" target="_blank">{{participante.nome}}</a> / <a class="link-pessoa" href="{{professor.link2}}" target="_blank">Github</a> <br>{% endfor %}
        </p>
        <br>
        <a class="link-pessoa" href="{{projeto.link_github}}" target="_blank">Link para o GitHub</a>
        <br>
        <br>
        {% if request.user.is_authenticated %}
            <a class="button-edita" href="{% url 'portfolio:editar_projeto' projeto.id %}">Editar</a>              
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}