{% extends 'portfolio/layout.html' %}

{% block main %}
<h1 class="titulo">Projetos</h1>
<a class="button-projetos" href="{% url 'portfolio:criar_projeto' %}">Criar Projeto</a>
<div class="projetos">
    {% for projeto in projetos %}
    <div class="projeto">     
        <p class="tit-projeto">{{projeto.titulo}} / {{projeto.ano_realizacao}}</p>
        <br>
        <p>{{projeto.descricao}}</p>
        <br>
        <p>{{projeto.cadeira}}</p>
        <br>
        <p>Participantes: {% for participante in projeto.participantes.all %} 
            <a class="link-pessoa" href="{{participante.link1}}" target="_blank">{{participante.nome}}</a> / <a class="link-pessoa" href="{{participante.link2}}" target="_blank">Github</a> <br>{% endfor %}
        </p>
        <br>
        <a class="link-pessoa" href="{{projeto.link_github}}" target="_blank">Link para o GitHub</a>
        <br>
        {% if request.user.is_authenticated %}
            <a class="button-edita" href="{% url 'portfolio:editar_projeto' projeto.id %}">Editar</a>              
        {% endif %}
    </div>
    {% endfor %}
</div>
<h1 class="titulo">TFCs</h1>
<a class="button-tfcs" href="{% url 'portfolio:criar_tfc' %}">Criar TFC</a>
<div class="tfcs">
    {% for tfc in tfcs %}
    <div class="tfc">     
        <p class="tit-tfc">{{tfc.titulo}} / {{tfc.ano_realizacao}}</p>
        <br>
        <p class="texto-tfc">{{tfc.resumo}}</p>
        <br>
        <p>Autores: {% for autor in tfc.autores.all %} 
            <a class="link-pessoa" href="{{autor.link1}}" target="_blank">{{autor.nome}}</a> / <a class="link-pessoa" href="{{autor.link2}}" target="_blank">Github</a> <br>{% endfor %}
        </p>
        <br>
        <p>Orientadores: {% for orientador in tfc.orientadores.all %} 
            <a class="link-pessoa" href="{{orientador.link1}}" target="_blank">{{orientador.nome}}</a> / <a class="link-pessoa" href="{{orientador.link2}}" target="_blank">Github</a> <br>{% endfor %}
        </p>
        <br>
        <a class="link-pessoa" href="{{tfc.link_github}}" target="_blank">Link para o GitHub</a>
        <br>
        <br>
        <p><img class="img-tfc" src="{{tfc.image.url}}"></p>
        <br>
        <br>
        {% if request.user.is_authenticated %}
            <a class="button-edita" href="{% url 'portfolio:editar_tfc' tfc.id %}">Editar</a>              
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}