{% extends 'portfolio/layout.html' %}
    
{% block main %}
    <h1 class="titulo">Tecnologias</h1>
    <h1 class="titulo2">Front-End</h1>
    <div class="tecnologias">
        {% for linguagem in linguagens %}
            {% if linguagem.tipo == 1 %}
            <div class="tecnologia">     
                <p class="tit-tecnologia">{{linguagem.nome}}</p>
                <br>
                <p>{{linguagem.descricao}}</p>
                <br>
                <p><img class="img-tecnologia" src="{{linguagem.image.url}}"></p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <h1 class="titulo2">Back-End</h1>
    <div class="tecnologias">
        {% for linguagem in linguagens %}
            {% if linguagem.tipo == 2 %}
            <div class="tecnologia">     
                <p class="tit-tecnologia">{{linguagem.nome}}</p>
                <br>
                <p>{{linguagem.descricao}}</p>
                <br>
                <p><img class="img-tecnologia" src="{{linguagem.image.url}}"></p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <h1 class="titulo2">Outras</h1>
    <div class="tecnologias">
        {% for linguagem in linguagens %}
            {% if linguagem.tipo == 3 %}
            <div class="tecnologia">     
                <p class="tit-tecnologia">{{linguagem.nome}}</p>
                <br>
                <p>{{linguagem.descricao}}</p>
                <br>
                <p><img class="img-tecnologia" src="{{linguagem.image.url}}"></p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <h1 class="titulo">Laboratorios</h1>
    <div class="container">
        <div class="container-labs">
            {% for laboratorio in laboratorios %}
            <a href="{{laboratorio.link}}" target="_blank">
                <div class="lab">
                    <div class="numero">
                        <p>{{laboratorio.numero}}</p>
                    </div>
                    <div class="tit-lab">{{laboratorio.nome}}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    <h1 class="titulo">Noticias</h1>
    <div class="noticias">
        {% for noticia in noticias %}
            <div class="noticia">
                <b><a href="{{noticia.link}}">{{noticia.titulo}}</a></b>
                <br>
                <br>
                <p>{{noticia.descricao}}</p>
                <br>
                <p><img class="img-noticia" src="{{noticia.image.url}}"></p>
            </div>
        {% endfor %}
    </div> 
    <h1 class="titulo">Quiz</h1>
    <form class="form-quiz" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p style="text-align: center;">Nome do jogador</p>
        <input class="center" type="text" id="nome" name="nome" size="50">
        <p style="text-align: center;">Qual o significado de HTML?</p>
        <input class="center" type="text" id="p1" name="p1" size="50">
        <br>
        <p style="text-align: center;">Django é uma framework de que linguagem?</p>
        <input class="center" type="text" id="p2" name="p2" size="50">
        <br>
        <p style="text-align: center;">Quantos tipos de display existem em CSS?</p>
        <input class="center" type="text" id="p3" name="p3" size="50">
        <br>
        <p style="text-align: center;">Que tag devo usar para meter o texto a negrito?</p>
        <input class="center" type="text" id="p4" name="p4" size="50">
        <br>
        <p style="text-align: center;">Qual o nome do ficheiro .py onde <br> se regista os models para aparecer na pagina admin?</p>
        <input class="center" type="text" id="p5" name="p5" size="50">
        <input class="button-quiz" type="submit" value="Submit"> 
    </form>
    <br><br>
    <p class="center"><img src="data:image/png;base64,{{ data }}" alt=""></p>
    <h1 class="titulo">Meteorologia</h1>
    <div class="meteorologia">
        <h2 id="cidade" class="titulo2">Cidade: Lisboa</h2>
        <h2 id="dia" class="titulo2">Hoje</h2>
        <h2 id="temp_min" class="titulo3">Temperatura minima: </h2>
        <h2 id="temp_max" class="titulo3">Temperatura maxima: </h2>
        <h2 id="dia" class="titulo2">Amanha</h2>
        <h2 id="temp_min2" class="titulo3">Temperatura minima: </h2>
        <h2 id="temp_max2" class="titulo3">Temperatura maxima: </h2>
        <h2 id="dia" class="titulo2">Depois de amanha</h2>
        <h2 id="temp_min3" class="titulo3">Temperatura minima: </h2>
        <h2 id="temp_max3" class="titulo3">Temperatura maxima: </h2>
    </div>
    <script>
            document.addEventListener('DOMContentLoaded', function() {
            fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')
            .then(response => response.json())
            .then(data => {
                let temp_min = data.data[0].tMin
                let temp_max = data.data[0].tMax
                document.querySelector('#temp_min').append(temp_min);
                document.querySelector('#temp_max').append(temp_max);
                temp_min = data.data[1].tMin
                temp_max = data.data[1].tMax
                document.querySelector('#temp_min2').append(temp_min);
                document.querySelector('#temp_max2').append(temp_max);
                temp_min = data.data[2].tMin
                temp_max = data.data[2].tMax
                document.querySelector('#temp_min3').append(temp_min);
                document.querySelector('#temp_max3').append(temp_max);
            });
        });
    </script>
{% endblock main %}