{% extends 'portfolio/layout.html' %}

{% block main %}
    <h1 class="titulo">Licenciatura</h1>
    <a class="button-cadeiras" href="{% url 'portfolio:criar_cadeira' %}">Criar Cadeira</a>
    <div class="cadeiras">
        {% for cadeira in cadeiras %}
        <div class="cadeira">     
            <a class="tit-cadeira" href={{cadeira.pagina_cadeira}} target="_blank">
                <p>{{cadeira.nome}} ({{cadeira.ano_letivo}})</p>
            </a>
            <br>
            <p>{{cadeira.ano}} Ano - {{cadeira.semestre}} Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    {{cadeira.topicos}}
                </div>
            </div>
            <p>Ranking (1-5): {{cadeira.ranking}}</p>
            <p>Professores: {% for professor in cadeira.professores.all %} 
                <a class="link-pessoa" href="{{professor.link1}}" target="_blank">{{professor.nome}}</a> / <a class="link-pessoa" href="{{professor.link2}}" target="_blank">LinkedIn</a> <br>{% endfor %}
            </p>
            <br>
            <br>
            {% if request.user.is_authenticated %}
                <a class="button-edita" href="{% url 'portfolio:editar_cadeira' cadeira.id %}">Editar</a>              
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <h1 class="titulo">Educação</h1>
    <div class="escolas">
        {% for escola in escolas %}
        <div class="escola">     
            <a class="tit-escola" href="{{escola.link}}" target="_blank">
                <p>{{escola.nome}}</p>
            </a>
            <br>
            <p>Periodo: {{escola.periodo}}</p>
            <p>Local: {{escola.local}}</p>
            <p><img class="img-escola" src="{{escola.image.url}}"></p>
        </div>
        {% endfor %}
    </div>
    <h1 class="titulo">Interesses e hobbies</h1>
    <div class="interesses">
        {% for interesse in interesses %}
        <div class="interesse">     
            <p class="tit-interesse"> {{interesse.nome}}</p>
            <br>
            <p>{{interesse.descricao}}</p>
            <br>
            <p><img class="img-interesse" src="{{interesse.image.url}}"></p>
        </div>
        {% endfor %}
    </div>
    <h1 class="titulo">API</h1>
{% endblock main %}