{% extends 'portfolio/layout.html' %}

{% block main %}
    <h1 class="titulo">Licenciatura</h1>
    <div class="cadeiras">
        <div class="cadeira">        
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/fundamentos-de-fisica/ULHT260-7336">
                <p>Fundamentos de Física (2020/2021)</p>
            </a>
            <br>
            <p>Ano: 1 Ano - 1 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    <p>Sistemas de unidades, grandezas e dimensões;</p>
                    <p>Movimento unidimensional e bidimensional;</p>
                    <p>Leis de Newton;</p>
                    <p>Trabalho;</p>
                    <p>Energia potencial;</p>
                    <p>Conservação da energia mecânica;</p>
                    <p>Centro de massa;</p>
                    <p>Colisões;</p>
                    <p>Momento de uma força e momento de inércia;</p>
                    <p>Momento angular;</p>
                    <p>Gravidade;</p>
                    <p>Leis de Kepler;</p>
                    <p>Lei da gravitação de Newton;</p>
                    <p>Equilíbrio estático e elasticidade;</p>
                    <p>Tensão e deformação;</p>
                    <p>Oscilações;</p>
                    <p>Lei de Coulomb;</p>
                    <p>Campo Elétrico;</p>
                    <p>Potencial Elétrico;</p>
                    <p>Corrente elétrica e Resistência elétrica.</p>
                </div>
            </div>
            <p>Avaliacao (1-5): 2</p>
            <p>Professores: N/A</p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">   
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/fundamentos-de-programacao/ULHT260-7337">
                <p>Fundamentos de Programação (2020/2021)</p>
            </a>
            <br>
            <p>Ano: 1 Ano - 1 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    <p>Introdução à programação;</p>
                    <p>Algoritmos, fluxogramas, pseudo-código;</p>
                    <p>Sintaxe e semântica das linguagens;</p>
                    <p>Elementos da sintaxe, estrutura de um programa;</p>
                    <p>Declarações e atribuições;</p>
                    <p>Tipos primitivos;</p>
                    <p>Expressões aritméticas, expressões lógicas;</p>
                    <p>Entradas e saídas de dados;</p>
                    <p>Selecção;</p>
                    <p>Repetição;</p>
                    <p>Funções;</p>
                    <p>Tratamento de erros;</p>
                    <p>Leitura e escrita de ficheiros;</p>
                    <p>Boas práticas de programação imperativa.</p>
                </div>
            </div>
            <p>Avaliacao (1-5): 5</p>
            <p>Professores: N/A</p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/matematica-discreta/ULHT260-1656">
                <p>Matemática Discreta (2020/2021)</p>
            </a>
            <br>
            <p>Ano: 1 Ano - 1 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    <b><p>Elementos de Lógica Matemática;</p></b>
                    <b><p>Elementos da Teoria Intuitiva de Conjuntos:</p></b>
                    <p>Generalidades sobre relações binárias;</p>
                    <p>Operações com relações binárias;</p>
                    <p>Relações de equivalência;</p>
                    <p>Partição de um conjunto;</p>
                    <p>Digrafos - Morfismos de digrafos;</p>
                    <b><p>Linguagens Formais:</p></b>
                    <p>Generalidades;</p>
                    <p>Operações com linguagens;</p>
                    <p>Fecho e fecho positivo de uma linguagem;</p>
                    <p>Linguagens regulares;</p>
                    <p>Gramáticas formais;</p>
                    <p>Generalidades;</p>
                    <p>Derivação;</p>
                    <p>Linguagem gerada por uma gramática;</p>
                    <p>Gramáticas regulares;</p>
                    <b><p>Autómatos Finitos:</p></b>
                    <p>Generalidades;</p>
                    <p>Autómato determinístico e não determinístico;</p>
                    <p>Linguagem reconhecida por um autómato;</p>
                    <p>Linguagem reconhecível.</p>
                </div>
            </div>
            <p>Avaliacao (1-5): 4</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">   
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/matematica-i/ULHT260-1">
                <p>Matemática I (2020/2021)</p>
            </a>
            <br>
            <p>Ano: 1 Ano - 1 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    <p>Os números reais;</p>
                    <p>Funções reais de variável real;</p>
                    <p>Limites;</p>
                    <p>Derivadas;</p>
                    <p>Estudo global de uma função;</p>
                    <p>Integração.</p>
                </div>
            </div>
            <p>Avaliacao (1-5): 2</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">  
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/sistemas-digitais/ULHT260-7">
                <p>Sistemas Digitais (2020/2021)</p>
            </a>
            <br>
            <p>Ano: 1 Ano - 1 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    Códigos numéricos e Sistemas de Numeração;
                    Circuitos Lógicos Básicos;
                    Álgebra de Boole;
                    Funções Lógicas;
                    Circuitos Combinatórios Básicos;
                    Circuitos Digitais com Memória;
                    Síntese de Circuitos Sequênciais Elementares;
                </div>
            </div>
            <p>Avaliacao (1-5): 3</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/algebra-linear/ULHT260-2091">
                <p>Álgebra Linear (2020/2021)</p>
            </a>
            <br>
            <p>Ano: 1 Ano - 2 Semestre</p>
            <p>ECTS: 5</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 3</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/algoritmia-e-estruturas-de-dados/ULHT260-13397">
                <p>Algoritmia e Estruturas de Dados (2020/2021)</p>
            </a>
            <br>
            <p>Ano: 1 Ano - 2 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 5</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/arquitetura-de-computadores/ULHT260-5857">
                <p>Arquitetura de Computadores (2020/2021)</p>
            </a>
            <br>
            <p>Ano: 1 Ano - 2 Semestre</p>
            <p>ECTS: 5</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 3</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/competencias-comportamentais/ULHT260-17267">
                <p>Competências Comportamentais (2020/2021)</p>
            </a>
            <br>
            <p>Ano: 1 Ano - 2 Semestre</p>
            <p>ECTS: 4</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 3</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/linguagens-de-programacao-i/ULHT260-498">
                <p>Linguagens de Programação I (2020/2021)</p>
            </a>
            <br>
            <p>Ano: 1 Ano - 2 Semestre</p>
            <p>ECTS: 5</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 3</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/matematica-ii/ULHT260-505">
                <p>Matemática II (2020/2021)</p>
            </a>
            <br>
            <p>Ano: 1 Ano - 2 Semestre</p>
            <p>ECTS: 5</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 2</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/arquiteturas-avancadas-de-computadores/ULHT260-13398">
                <p>Arquiteturas Avançadas de Computadores (2021/2022)</p>
            </a>
            <br>
            <p>Ano: 2 Ano - 1 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 4</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/bases-de-dados/ULHT260-1792">
                <p>Bases de Dados (2021/2022)</p>
            </a>
            <br>
            <p>Ano: 2 Ano - 1 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 3</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/linguagens-de-programacao-ii/ULHT260-898">
                <p>Linguagens de Programação II (2021/2022)</p>
            </a>
            <br>
            <p>Ano: 2 Ano - 1 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 4</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/sinais-e-sistemas/ULHT260-7339">
                <p>Sinais e Sistemas (2021/2022)</p>
            </a>
            <br>
            <p>Ano: 2 Ano - 1 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 4</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/sistemas-operativos/ULHT260-6305">
                <p>Sistemas Operativos (2021/2022)</p>
            </a>
            <br>
            <p>Ano: 2 Ano - 1 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 2</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/computacao-grafica/ULHT260-2267">
                <p>Computação Gráfica (2021/2022)</p>
            </a>
            <br>
            <p>Ano: 2 Ano - 2 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 4</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/engenharia-de-requisitos-e-testes/ULHT260-22512">
                <p>Engenharia de Requisitos e Testes (2021/2022)</p>
            </a>
            <br>
            <p>Ano: 2 Ano - 2 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 3</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/programacao-web/ULHT260-11195">
                <p>Programação Web (2021/2022)</p>
            </a>
            <br>
            <p>Ano: 2 Ano - 2 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 3</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/redes-de-computadores/ULHT260-1793">
                <p>Redes de Computadores (2021/2022)</p>
            </a>
            <br>
            <p>Ano: 2 Ano - 2 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 3</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/sistemas-de-suporte-a-decisao/ULHT260-7303">
                <p>Sistemas de Suporte à Decisão (2021/2022)</p>
            </a>
            <br>
            <p>Ano: 2 Ano - 2 Semestre</p>
            <p>ECTS: 6</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): 3</p>
            <p>Professores: </p>
            <p>Projetos: </p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/computacao-distribuida/ULHT260-7348">
                <p>Computação Distribuída (?)</p>
            </a>
            <br>
            <p>Ano: 3 Ano - 1 Semestre</p>
            <p>ECTS: 5</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): N/A</p>
            <p>Professores: N/A</p>
            <p>Projetos: N/A</p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/data-science/ULHT260-22513">
                <p>Data Science (?)</p>
            </a>
            <br>
            <p>Ano: 3 Ano - 1 Semestre</p>
            <p>ECTS: 5</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): N/A</p>
            <p>Professores: N/A</p>
            <p>Projetos: N/A</p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/engenharia-de-software/ULHT260-7341">
                <p>Engenharia de Software (?)</p>
            </a>
            <br>
            <p>Ano: 3 Ano - 1 Semestre</p>
            <p>ECTS: 5</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): N/A</p>
            <p>Professores: N/A</p>
            <p>Projetos: N/A</p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/interacao-humano-maquina/ULHT260-11047">
                <p>Interação Humano-Máquina (?)</p>
            </a>
            <br>
            <p>Ano: 3 Ano - 1 Semestre</p>
            <p>ECTS: 5</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): N/A</p>
            <p>Professores: N/A</p>
            <p>Projetos: N/A</p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/computacao-movel/ULHT260-16925">
                <p>Computação Móvel (?)</p>
            </a>
            <br>
            <p>Ano: 3 Ano - 2 Semestre</p>
            <p>ECTS: 5</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): N/A</p>
            <p>Professores: N/A</p>
            <p>Projetos: N/A</p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/inteligencia-artificial/ULHT260-2129">
                <p>Inteligência Artificial (?)</p>
            </a>
            <br>
            <p>Ano: 3 Ano - 2 Semestre</p>
            <p>ECTS: 5</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): N/A</p>
            <p>Professores: N/A</p>
            <p>Projetos: N/A</p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/seguranca-informatica/ULHT260-11194">
                <p>Segurança Informática (?)</p>
            </a>
            <br>
            <p>Ano: 3 Ano - 2 Semestre</p>
            <p>ECTS: 5</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): N/A</p>
            <p>Professores: N/A</p>
            <p>Projetos: N/A</p>
        </div>
        <div class="cadeira">
            <a class="tit-cadeira" href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/sistemas-de-informacao-na-nuvem/ULHT260-22514">
                <p>Sistemas de Informação na Nuvem (?)</p>
            </a>
            <br>
            <p>Ano: 3 Ano - 2 Semestre</p>
            <p>ECTS: 5</p>
            <div class="dropdown">
                <p>Topicos (Passa o rato por mim!)</p>
                <div class="dropdown-content">
                    
                </div>
            </div>
            <p>Avaliacao (1-5): N/A</p>
            <p>Professores: N/A</p>
            <p>Projetos: N/A</p>
        </div>
    </div>
    <h1 class="titulo">Educação</h1>
    <h1 class="titulo">Aptidões e competências pessoais</h1>
    <h1 class="titulo">Interesses e hobbies</h1>
{% endblock main %}