{% extends 'portfolio/layout.html' %}

{% block main %}
    <h1 class="titulo">Sobre este website</h1>
    <h1 class="titulo2">Arvore/Diagrama</h1>
    <div class="sobre-site">
        <p>
            Este website foi criado pois faz parte da avaliacao da cadeira Programacao Web previamente referida.
            <br>
            <br>
            Foi realizado com as linguagens HTML, CSS e Python (Django) e hospedado no heroku.
            <br>
            <br>
            Ao lado, encontra-se o diagrama de classes para este website, classes criadas atraves da linguagem Python e manipuladas a partir do painel de admin do Django.
            <br>
            <br>
            Este website tem a seguinte estrutura:
            <br>
            <br>
            - Home (Hero page)
            <br>
            - Sobre mim
            <br>
            . Licenciatura
            <br>
            . Educação
            <br>
            . Interesses e hobbies
            <br>
            - Projetos
            <br>
            - Programacao Web
            <br>
            . Tecnologias
            <br>
            .. Front-end
            <br>
            .. Back-end
            <br>
            .. Outras
            <br>
            . Laboratorios
            <br>
            . Quiz
            <br>
            - Sobre este website
            <br>
            - Blog
            <br>
            - Contacto
            <br>
            - Rodapé
        </p>
    </div>
    <div class="diagrama">
        {% load static %}
        <img src="{% static 'portfolio/images/diagrama.jpg' %}" alt="">
    </div>
    <br>
    <br>

    <h1 class="titulo">Padrões usados no website</h1>
    <h1 class="titulo2">cliente-servidor HTTP</h1>
    <div class="padrao">
        O Hypertext Transfer Protocol, sigla HTTP é um protocolo de comunicação utilizado para sistemas de informação de hipermídia, distribuídos e colaborativos. Ele é a base para a comunicação de dados da World Wide Web. Hipertexto é o texto estruturado que utiliza ligações lógicas entre nós contendo texto.
    </div>
    <br>
    <br>
    <h1 class="titulo2">software MVC</h1>
    <div class="padrao">
        MVC é o acrônimo de Model-View-Controller (em português: Arquitetura Modelo-Visão-Controle - MVC) é um padrão de projeto de software,[1] ou padrão de arquitetura de software formulado na década de 1970,[2] focado no reuso de código e a separação de conceitos em três camadas interconectadas, onde a apresentação dos dados e interação dos usuários (front-end) são separados dos métodos que interagem com o banco de dados (back-end).
    </div>
    <br>
    <br>
    <h1 class="titulo2">comunicação assíncrona AJAX</h1>
    <div class="padrao">
        AJAX significa Asynchronous JavaScript and XML, ou JavaScript e XML Assíncronos, em bom português. Ele é um conjunto de técnicas de desenvolvimento voltado para a web que permite que aplicações trabalhem de modo assíncrono, processando qualquer requisição ao servidor em segundo plano.
    </div>
    <br>
    <br>
{% endblock main %}